Include {{ nginx.prefix.config }}/modsec/modsecurity.conf
Include {{ nginx.prefix.config }}/modsec/owasp-modsecurity-crs/crs-setup.conf
Include {{ nginx.prefix.config }}/modsec/owasp-modsecurity-crs/rules/*.conf

